name: "PR Checks"
on: [pull_request, push]

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.18.x'
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
    # TODO: Uncomment this
    # This is currently commented off because some differences in how the code is transpiled between
    # the dev machine and the remote CI machine.
    #
    # - name: "check for uncommitted changes"
    #   # Ensure no changes, but ignore node_modules dir since dev/fresh ci deps installed.
    #   run: |
    #     git diff --exit-code --stat -- . ':!node_modules' \
    #     || (echo "##[error] found changed files after build. please 'npm run build && npm run format'" \
    #              "and check in all changes" \
    #         && exit 1)
